<% provide(:title, 'Contact') %>
<div class="row">
    <div class="col-md-12">
        <h3 class="contact-us-header">Contact Auto-Database</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <p>The best way to contact us is via email: autodatabase@example.com</p>
        <p>Please do not hesitate to contact us for help or let us know when you run into an error.</p>
    </div>
    <div class="col-md-6">
        <img src="http://e2.365dm.com/16/03/16-9/20/1st-win-action-1st-victory-belgian-formula-1-first-first-victory-first-win-grand-prix_3429590.jpg?20160311125727" class="img img-responsive">
    </div>
</div>