// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.search-result-box {
    padding: 10px;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.basic-info {
    text-align: center;
    padding-bottom: 20px;
    background-color: #D3D3D3;
}

.search-area {
    h1 {
        font-weight: 400;
    }
    text-align: center;
    background-color: #D3D3D3;
    padding-bottom: 20px;
}

h1 {
    font-weight: 600;
    font-size: 3.2em;
}