// Place all the styles related to the cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

.search-result-box {
    padding: 10px;
    background-color: #D3D3D3;
    margin-top: 20px;
}

.basic-info {
    text-align: center;
    width: 100%;
    padding: 20px;
    background-color: #D3D3D3;
}

.search-area {
    h1 {
        font-weight: 400;
    }
    text-align: center;
    background-color: #D3D3D3;
    padding-bottom: 20px;
}

h1 {
    font-weight: 600;
    font-size: 3.2em;
}

.car-list-item {
    background-color: #D3D3D3;
    margin-bottom: 5px;
}

.list-item-link {
    font-size: 2.3em;
}

.navbar-inverse {
    .navbar-brand {
        color: #FFF;
        font-size: 1.6em;
        &:hover {
            color: darken(#FFF, 15%);
        }
    }
    border-radius: none;
}

.car-summary {
    padding: 5px;
    font-size: 16pt;
}

.search-bar {
    width: 300px;
}

/* homepage subscription box */

.subscription-box {
    background-color: #D3D3D3;
}

.subscribe-bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* For development warning on homepage */

.panel-heading {
    width: 100%;
}