<% provide(:title, 'Listing All Cars') %>
<% @cars.each do |car| %>
<div class="row">
    <div class="col-sm-12 car-list-item">
        <%= link_to "#{car.manufacturer.to_s} #{car.name.to_s}", show_path(car.id), class: 'list-item-link' %>
    </div>   
</div>    
<% end %>    