<% provide(:title, 'Search') %>
<div class="col-md-12 search-area">
    <h1>Auto-Database</h1>
    
    <%= form_tag( results_path, method: "get" ) do %>
    <%= text_field_tag :q, 'Search by make or model', class: 'search-bar' %>
    <%= submit_tag("Search") %>
<% end %>
</div>